<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>新闻列表</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" >
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" ></script>
  	<style type="text/css">
  		.table tbody tr td{
            vertical-align: middle;
        }
  	</style>
  </head>
  <body>
    	<table class="table table-striped table-sm">
			<thead>
				<tr>
					<th>#</th>
					<th>新闻标题</th>
					<th>--年--</th>
					<th>--月--</th>
					<th>时间</th>
<!-- 					<th>图片路径</th> -->
					<th>来源类型</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="n:${newss}">
					<td th:text="${n.id}"></td>
					<td><a class="btn" th:href="${n.url}" target="_blank">[[${n.title}]]</a></td>
					<td th:text="${n.year}+'年'"></td>
					<td th:text="${n.month}+'月'"></td>
					<td th:text="${#dates.format(n.createtime, 'yyyy-MM-dd HH:mm:ss')}"></td>
<!-- 					<td th:text="${n.imgurl}"></td> -->
					<td th:text="百度新闻" th:if="${n.newsType==1}"></td>
					<td th:text="网易新闻" th:if="${n.newsType==2}"></td>
					<td th:text="今日头条" th:if="${n.newsType==3}"></td>
					<td>
						<a class="btn btn-sm btn-primary" th:href="@{/news/}+${n.id}">编辑</a>
						<button th:attr="del_uri=@{/news/}+${n.id}" class="btn btn-sm btn-danger deleteBtn">删除</button>
					</td>
				</tr>
			</tbody>
		</table>
				
		<form id="deleteEmpForm"  method="post">
			<input type="hidden" name="_method" value="delete"/>
		</form>

		<table id="table1"></table>

		<script type="text/javascript">
		//初始化Table
        $('#table1').bootstrapTable({
            url: '/table1',         //请求后台的URL（*）
            method: 'get',                      //请求方式（*）
            //toolbar: '#toolbar',                //工具按钮用哪个容器
            striped: true,                      //是否显示行间隔色
            cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
            pagination: true,                   //是否显示分页（*）
            sortable: false,                     //是否启用排序
            sortOrder: "asc",                   //排序方式
            queryParams: oTableInit.queryParams,//传递参数（*）
            sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
            pageNumber: 1,                       //初始化加载第一页，默认第一页
            pageSize: 10,                       //每页的记录行数（*）
            pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
            search: true,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
            strictSearch: true,
            showColumns: true,                  //是否显示所有的列
            showRefresh: true,                  //是否显示刷新按钮
            minimumCountColumns: 2,             //最少允许的列数
            clickToSelect: true,                //是否启用点击选中行
            height: 500,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
            uniqueId: "ID",                     //每一行的唯一标识，一般为主键列
            showToggle: true,                    //是否显示详细视图和列表视图的切换按钮
            cardView: false,                    //是否显示详细视图
            detailView: false,                   //是否显示父子表
            rowStyle: function (row, index) {
                //这里有5个取值代表5中颜色['active', 'success', 'info', 'warning', 'danger'];
                var strclass = "";
                if (row.ORDER_STATUS == "待排产") {
                    strclass = 'success';//还有一个active
                }
                else if (row.ORDER_STATUS == "已删除") {
                    strclass = 'danger';
                }
                else {
                    return {};
                }
                return { classes: strclass }
            },
            columns: [{
                checkbox: true
            }, {
                field: 'id',
                title: '订单编号'
            }, {
                field: 'title',
                title: '订单类型'
            }, {
                field: 'ORDER_STATUS',
                title: '订单状态'
            }, {
                field: 'REMARK',
                title: '备注'
            }, ]
        });
	    </script>
	<script>
		$(".deleteBtn").click(function(){
		    //删除当前员工的
		    $("#deleteEmpForm").attr("action",$(this).attr("del_uri")).submit();
		    return false;
	          });
	</script>		
    
  </body>
</html>