<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>新闻列表</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" >
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" ></script>
  	<style type="text/css">
  		.table tbody tr td{
            vertical-align: middle;
        }
  	</style>
  </head>
  <body>
    	<table class="table table-striped table-sm">
			<thead>
				<tr>
					<th>#</th>
					<th>新闻标题</th>
					<th>--年--</th>
					<th>--月--</th>
					<th>时间</th>
<!-- 					<th>图片路径</th> -->
					<th>来源类型</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="n:${newss}">
					<td th:text="${n.id}"></td>
					<td><a class="btn" th:href="${n.url}" target="_blank">[[${n.title}]]</a></td>
					<td th:text="${n.year}+'年'"></td>
					<td th:text="${n.month}+'月'"></td>
					<td th:text="${#dates.format(n.createtime, 'yyyy-MM-dd HH:mm:ss')}"></td>
<!-- 					<td th:text="${n.imgurl}"></td> -->
					<td th:text="百度新闻" th:if="${n.newsType==1}"></td>
					<td th:text="网易新闻" th:if="${n.newsType==2}"></td>
					<td th:text="今日头条" th:if="${n.newsType==3}"></td>
					<td>
						<a class="btn btn-sm btn-primary" th:href="@{/news/}+${n.id}">编辑</a>
						<button th:attr="del_uri=@{/news/}+${n.id}" class="btn btn-sm btn-danger deleteBtn">删除</button>
					</td>
				</tr>
			</tbody>
		</table>
				
		<form id="deleteEmpForm"  method="post">
			<input type="hidden" name="_method" value="delete"/>
		</form>

		<table id="table1"></table>

		<script type="text/javascript">
		$('#table1').bootstrapTable({
		    url: '/newss',
		    columns: [{
		        field: 'id',
		        title: 'Item ID'
		    }, {
		        field: 'name',
		        title: 'Item Name'
		    }, {
		        field: 'price',
		        title: 'Item Price'
		    }, ]
		});
	    </script>
	<script>
		$(".deleteBtn").click(function(){
		    //删除当前员工的
		    $("#deleteEmpForm").attr("action",$(this).attr("del_uri")).submit();
		    return false;
	          });
	</script>		
    
  </body>
</html>